# Enunciado del reto
Globant Challenge Data Engineer.pdf

# Datos del reto
*data/

# Virtual environments
.venv/
api/.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Logs
*.log